@import "base.scss";

.btn {
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 3em !important;
}

.el-input__inner::placeholder {
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.btn.purple {
  background-color: var(--primary);
  font-weight: 700;
  color: white;
}

.btn.purple:hover {
  background-color: var(--secondary);
  color: white;
}

.btn.white {
  background-color: aliceblue;
  font-weight: 700;
  color: var(--primary);
}

.main-view {
  padding: 0 10%;
}

.server-error {
  color: red;
}

a {
  text-decoration: none;
}

.product-img {
  aspect-ratio: 16/9;
  height: 10em;
  transition: ease-in-out 0.6s;
}
.product-img:hover {
  transform: scale(1.2);
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}
.card-author {
  color: #636362;
  font-size: 14px;
}

.nodata {
  display: flex;
  margin: 3em auto;
  flex-direction: row;
  justify-content: center;
  color: grey;
}

.cart-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  margin-top: 0;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  padding: 2% 10%;
}

.noblue {
  color: black !important;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 700px) {
  .product-img {
    aspect-ratio: 16/9;
    height: 10em;
  }

  .main-body {
    width: inherit !important;
  }

  .full-only {
    display: none;
  }
  .cart-header {
    padding: 5% 10%;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-only {
    display: unset;
    height: auto;
    max-width: 100%;
  }
}
